1
{
  "name": "home design",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        352
      ],
      "id": "05238098-2518-405e-9051-20565780a861",
      "name": "Telegram Trigger",
      "webhookId": "e9ad23cb-8cda-4e3b-987a-3f9f25a3c3f5",
      "credentials": {
        "telegramApi": {
          "id": "AmkAwEfENEQijfOR",
          "name": "outlook agent"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        352
      ],
      "id": "5d0ca0a3-26bb-4668-8cc2-374db1c52661",
      "name": "Get a file",
      "webhookId": "5e50a594-c73e-4a46-b036-4a2a830cac5c",
      "credentials": {
        "telegramApi": {
          "id": "AmkAwEfENEQijfOR",
          "name": "outlook agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.result_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        416
      ],
      "id": "cc66c024-c7cb-4f72-a816-e851ce22ebad",
      "name": "Send a photo message",
      "webhookId": "13aa6aa3-0f95-4f50-ba4e-eaa3f30b5f30",
      "credentials": {
        "telegramApi": {
          "id": "AmkAwEfENEQijfOR",
          "name": "outlook agent"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tmpfiles.org/api/v1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        352
      ],
      "id": "fa33e276-eeb0-4473-8e6b-05a1d5a5b166",
      "name": "Upload File Temporary"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VIuXORPo8LOy6A1H",
          "mode": "list",
          "cachedResultName": "Edit Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_urls": "=[\"{{ $json.image_url }}\"]",
            "prompt": "Put furniture inside this apartment in modern style. Format: 16:9"
          },
          "matchingColumns": [
            "data_url_replace"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        176
      ],
      "name": "modern",
      "id": "ca4a5db8-a572-4a9f-994c-de336bdd4871"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VIuXORPo8LOy6A1H",
          "mode": "list",
          "cachedResultName": "Edit Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_urls": "=[\"{{ $json.image_url }}\"]",
            "prompt": "Put furniture inside this apartment in Scandinavian style. Format: 16:9"
          },
          "matchingColumns": [
            "data_url_replace"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "name": "scandinavian",
      "id": "17d3d783-1c78-484f-96ed-5e7f392a859b"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VIuXORPo8LOy6A1H",
          "mode": "list",
          "cachedResultName": "Edit Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_urls": "=[\"{{ $json.image_url }}\"]",
            "prompt": "Put furniture inside this apartment in boho style. Format: 16:9"
          },
          "matchingColumns": [
            "data_url_replace"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        352
      ],
      "name": "boho",
      "id": "f6e5e103-77e2-4306-86f6-989044dbf0fa"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VIuXORPo8LOy6A1H",
          "mode": "list",
          "cachedResultName": "Edit Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_urls": "=[\"{{ $json.image_url }}\"]",
            "prompt": "Put furniture inside this apartment in luxury style. Format: 16:9"
          },
          "matchingColumns": [
            "data_url_replace"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        528
      ],
      "name": "luxury",
      "id": "f610bb1f-479c-46b5-86e3-59a20d0d0b66"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VIuXORPo8LOy6A1H",
          "mode": "list",
          "cachedResultName": "Edit Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_urls": "=[\"{{ $json.image_url }}\"]",
            "prompt": "Put furniture inside this apartment in minimal style. Format: 16:9"
          },
          "matchingColumns": [
            "data_url_replace"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_urls",
              "displayName": "image_urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        704
      ],
      "name": "minimal",
      "id": "711e8a15-9984-4d52-ae1e-d5fc880559f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2997bc44-5058-463a-baef-e6e2a6c299d8",
              "name": "image_url",
              "value": "={{ $json.data.url.replace('://tmpfiles.org/', '://tmpfiles.org/dl/')  }}",
              "type": "string"
            },
            {
              "id": "7524d341-24b2-4f2b-bb5d-c2bec8347330",
              "name": "valid_until",
              "value": "={{ $now.plus(1, \"hour\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        352
      ],
      "id": "9f4bdef0-dabd-4c79-94fd-396f38ac1f31",
      "name": "image_meta"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50fd576d-1e3c-4cfc-8b67-ad206f6ee9b4",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "fail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bea172d1-bb13-4d95-99b0-9340b9c59e9f",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9b861ca-6603-4333-8e7a-82d5ab056032",
                    "leftValue": "=generating, waiting",
                    "rightValue": "={{ $json.data.state }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1088,
        144
      ],
      "id": "7e8ca70d-55bc-406d-9760-1957fa80caf8",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        320
      ],
      "id": "7f0307b6-1821-4592-b3d3-51db7c626300",
      "name": "Wait1",
      "webhookId": "6801f390-1a25-4d94-8960-a4003ab3a159"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/playground/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <API KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        160
      ],
      "id": "b382aa29-272a-4d88-aaa0-0c036174afc3",
      "name": "Get Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/playground/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <API KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana-edit\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"image_urls\": {{ $json.image_urls?.toJsonString() }},\n    \"output_format\": \"jpeg\",\n    \"image_size\": \"16:9\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        160
      ],
      "id": "d59e8674-2283-4c9d-9fa4-1e963dfde2d2",
      "name": "Create Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5561822-0a0c-48d4-b910-d77be3a73a3b",
              "name": "result_url",
              "value": "={{ $json.data.resultJson.parseJson().resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        160
      ],
      "id": "002e8278-462d-42dd-9c18-f5ed01166ba0",
      "name": "finished"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50fa6a3b-4e09-4d09-8187-2366da93805e",
              "name": "result_url",
              "value": "={{ $json.result_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        160
      ],
      "id": "3c57af94-657e-4b64-a686-2067aba7b66d",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "image_urls",
              "type": "array"
            }
          ]
        }
      },
      "id": "44032c7c-e17d-4906-b223-b131dfd39b41",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        496,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Upload File Temporary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File Temporary": {
      "main": [
        [
          {
            "node": "image_meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modern": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scandinavian": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "boho": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "luxury": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "minimal": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image_meta": {
      "main": [
        [
          {
            "node": "scandinavian",
            "type": "main",
            "index": 0
          },
          {
            "node": "modern",
            "type": "main",
            "index": 0
          },
          {
            "node": "boho",
            "type": "main",
            "index": 0
          },
          {
            "node": "luxury",
            "type": "main",
            "index": 0
          },
          {
            "node": "minimal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "finished",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "finished": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33a944bd-ec17-4032-a281-3279e1dc1da3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10c9d393b18243502d1d9b762ac0817c9d22466a40bedbb2f01703a15dd32dec"
  },
  "id": "sK3YbMXjjWxMNaRV",
  "tags": []
}
